.body {
    width: min(90%,1350px);
    margin: 0 auto;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    margin: 3rem;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/*NAV BAR*/

.text {
    margin: 0;
    color: hsl(0, 0%, 41%);
}

.navbar {
    margin: 2rem 0;
    display: block;
}

.navbar1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
}

.logo {
    margin-right: 0;
}

@media (min-width: 900px) {
    .navbar {
        display: flex;
        justify-content: space-between;
    }

    .navbar1 {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }

    .logo {
        margin-right: 2rem;
    }
}

.menu-items{
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    color: hsl(0, 0%, 41%);
}

.menu-items:hover {
    color: hsl(0, 0%, 8%);
    cursor: pointer;
}

.items {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.register {
    border: 1px solid hsl(0, 0%, 41%);
    padding: .5rem 1rem;
    border-radius: .8rem;
}

.register:hover {
    border: 1px solid hsl(0, 0%, 8%);
}

/*CONTENT*/
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 1200px) {
    .content {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        gap: 8rem;
        margin: 4rem 5rem;
    }
}

.image {
    margin: 0 auto;
    width: auto;
    height: 700px;
}

.first-part {
    text-align: center;
    margin: 0 auto;
}

@media (min-width: 1200px) {
    .first-part {
        text-align: justify;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
    }
}

.title {
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 0;
    color: hsl(0, 0%, 8%);
}

.description {
    color: hsl(0, 0%, 41%);
}

.button {
    color: hsl(0, 0%, 98%);
    display: inline-block;
    border: 1px solid hsl(0, 0%, 8%);
    border-radius: 1rem;
    background-color: hsl(0, 0%, 8%);
    padding: 1rem 2rem;
    text-align: center;
    font-weight: 700;
}

.button:hover {
    color: hsl(0, 0%, 8%);
    background-color: transparent;
    cursor: pointer;
}

.artifacts {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

@media (min-width: 1200px) {
    .artifacts {
        margin-top: 0;
    } 
}



.attribution {
    text-align: center;
}